@import "tailwindcss";

/* Poppins */
@font-face {
    font-family: "Poppins";
    src: url("/fonts/poppins/Poppins-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

/* PT Mono */
@font-face {
    font-family: "PT Mono";
    src: url("/fonts/pt-mono/PTMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@theme {
    --font-sans: "Poppins", sans-serif;
    --font-serif: "Georgia", serif;
    --font-mono: "PT Mono", monospace;
    --color-surface: #101010;
    --color-on-surface: #e3e2e9;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
    :root {
        --color-blue: #009dfd;
        --color-purple: #ac7ef4;
    }

    html {
        color-scheme: dark;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        background-color: var(--color-surface);
        color: var(--color-on-surface);
        font-family: var(--font-sans), sans-serif;
        overflow-x: clip;
    }

    /*1.75rem,8vw,3.75rem*/
    h1 {
        @apply w-full text-[clamp(1.75rem,10vw,5rem)] leading-none font-semibold whitespace-nowrap;
    }

    h2 {
        @apply w-full text-[clamp(1rem,10vw,3.75rem)] leading-none font-medium uppercase;
    }

    p {
        @apply text-[clamp(1.25rem,5vw,2rem)] font-medium;
    }

    ul {
        @apply space-y-2 sm:space-y-4 px-2 text-left;

        li {
            @apply list-disc text-[clamp(0.875rem,5vw,1.75rem)] font-sans;
        }
    }

    button, a {
        @apply px-6 py-3.5 rounded-lg text-base;
    }

    #apple, #generic {
        @apply flex w-10/12 max-w-[900px] flex-col items-stretch justify-center text-left gap-8 text-[clamp(0.875rem,5vw,1.25rem)] sm:w-9/12 md:w-8/12 lg:w-6/12;
    }
}
